@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/SignalRjs/signalr.js"></script>
<script src="~/js/SignalRjs/signalr.min.js"></script>
<script src="~/js/SignalRjs/chatsignal.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" id="userInput" />
    <input type="text" id="messageInput" />
    <button id="sendButton" onclick="onchau()">登录</button>
    <ul id="discussion"></ul>

</div>
